config CIFS_SERVER
	tristate "CIFS server support"
	depends on INET
	select NLS
	select KEYS
	select CRYPTO
	select CRYPTO_MD4
	select CRYPTO_MD5
	select CRYPTO_HMAC
	select CRYPTO_ARC4
	select CRYPTO_ECB
	select CRYPTO_DES
	select CRYPTO_SHA256
	select CRYPTO_CMAC
	select CRYPTO_SHA512
	select TEXTSEARCH
	select TEXTSEARCH_KMP
	select CRYPTO_AEAD2
	select CRYPTO_CCM
	help
	  This config provides support for in-kernel CIFS/SMB3 server.
	
config CIFS_SMB2_SERVER
        bool "SMB2 server support"
        depends on CIFS_SERVER && INET
        select NLS

        help
	  This enables experimental support for the SMB2 (Server Message Block
	  version 2) protocol.

